<p id="notice"><%= flash[:update] %></p>
<p id="notice"><%= flash[:notice] %></p>
<p>tilte:<%= @book.title %></p>
<p>body:<%= @book.body %></p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>
